
.bloco{
    color: white;
    margin: 15px;
    padding: 10px;
    font-family: Helvetica;
    text-align: center;


}

#bloco-1{
    background-color: orangered;
    border: 10px solid orange;

}

#bloco-2{
    background-color: green ;
    border: 10px solid greenyellow;
}
#bloco-3{
    background-color: blue ;
    border: 10px dashed rgb(93, 93, 187);
}
#bloco-4{
    background-color: red ;
    border: 10px dashed rgb(235, 78, 78);
   
}
.body{
    background-color: black;
    
}